{% extends 'blogapp/base.html' %} 

{% block title %} <title>Home | Teeruch Records </title> {%endblock %} 

{% block content %}

  <div class="container"> 
    <br>
    <div style="text-align: left">   
      <h1>Welcome to Teeruch's records collection.</h1>
      <p>Visit the website for my vinyl collection guide for music lovers and music vinyl collectors.</p>
      <!--<p>{{today}}</p>-->
    </div>
    
    <div class="row">
      {% for post in posts %}
        <div class="col-sm-4">
          <div class="card-body" style="width: 22rem; margin: 14px;">
            <img src="{{post.featured_pic.url}}" alt="{{ post.title}}" class="img-fluid"/>
            <h4 class="card-title">Title: {{post.title}}</h4>
            <p class="card-text">Date Created: {{post.date_created}}</p>
            <p class="card-text">Author: {{post.author}}</p>
            <a class="btn btn-primary" href="{{ post.get_absolute_url }}" type="button">See more</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
