{% extends 'blogapp/base.html' %}

{% block title %} <title>Sign in</title> {% endblock %}


{% block content %}
<div class="container">
    <br>
    <div style="text-align: left;">
        <h1>Sign in</h1>
        <br>
        {% if messages %}
        <div class="form-group col-md-5">
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <form method="POST" action="{% url 'sign_in' %}">
            {% csrf_token %}
            <div class="form-group col-md-5">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div><br>
            <div class="form-group col-md-5">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div><br>
            <div class="form-group col-md-5">
                <button type="submit" class="btn btn-primary w-100 d-block">Submit</button><br>
                <p>Do not have an account?<a href="{% url 'sign_up' %}"> Sign up</a> </p>
            </div><br>
        </form>
    </div>
</div>
{% endblock %}


    