{% extends 'blogapp/base.html' %} 

{% block title %} <title>Post Table</title> {%endblock %} 

{% block content %}

<div class="container" style="text-align: center">
    <div>
        <h1>Post Table</h1>
    </div>
    <br>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Date Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for t in table_obj %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{t.title}}</td>
                    <td>{{t.date_created}}</td>
                    <td>{{t.date_updated}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-success" href="{% url 'export-csv' %}">Download CSV</a>
    </div><br>
</div>

{% endblock %}
